body {
    line-height: 1.5;
    color: #707070;
    font-family: sans-serif;
}

.wrapper {
    padding: 30px 50px;
}

.col-6 {
    width: calc(50% - 35px);
    height: 480px;
    min-height: 1px;
    float: left;
    margin-right: 35px;
}

.col-6:nth-child(even) {
    float: right;
}

.col-6:nth-child(odd) {
    margin-right: 0;
}

.thumbnail {
    width: 100%;
}

.title {
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 32px;
}

.content {
    border: 1px solid #707070;
    border-left: none;
    padding: 30px;
}

.clearfix:after {
    content: '';
    clear: both;
    display: table;
}

@media only screen and (max-width: 767px) {
    .col-6 {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .col-6:nth-child(even) {
        float: none;
        padding-top: 15px;
    }

    .col-3 {
        width: 100%;
    }

    .content {
        border: 0;
        padding: 0 25px;
    }

    .title {
        margin-bottom: 10px;
    }
}
