body {
    line-height: 1.5;
    color: #707070;
    font-family: sans-serif;
}

.wrapper {
    padding: 30px 50px;
}

.section:first-child {
    margin-bottom: 60px;
}

.col-6 {
    width: calc(50% - 35px);
    height: 480px;
    min-height: 1px;
    float: left;
    margin-right: 35px;
    border-left: 1px solid #5AFFED;
    border-right: 1px solid #5AFFED;
}

.col-6:last-child {
    margin-right: 0;
}

.col-3 {
    width: 33.3%;
    min-height: 1px;
    float: left;
    border-left: 1px solid #5AFFED;
    border-right: 1px solid #5AFFED;
    padding-top: 15px;
}

.thumbnail {
    width: 100%;
}

.title {
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 32px;
}

.section > .title {
    margin-bottom: 10px;
}

.box-paragraph {
    border: 1px solid #707070;
    border-left: none;
    padding: 30px;
}

.text-paragraph {
    padding: 0 25px;
    font-size: 15px;
}

.clearfix:after {
    content: '';
    clear: both;
    display: table;
}

@media only screen and (max-width: 767px) {
    .col-6 {
        width: 100%;
        height: auto;
    }

    .col-3 {
        width: 100%;
    }
}
